{% extends "hydroshare_resource_creator/base.html" %}

{% block app_content %}
    <!--<button id ='btn__ts' name ='ts' value ='ts' type="button" class="btn btn-success"onclick="create_update(this.name,this.value)">Create New Time Series Resource</button>-->

<div class="modal fade" id="resource_dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><div id="modal_title"></div></h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info">
                    File saved to HydroShare.
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="error-message"></div>


<div id = "stat_div" >
    <h4>Create Hydroshare Resource</h4>

    <table id="data_table" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th></th>
            <th>Site</th>
            <th>Reference Type</th>
            <th>Service Type</th>
            <th>URL</th>
            <th>Return Type</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Begin Date</th>
            <!--<th>End Date</th>-->
            <th>Variable</th>
            <th>Variable Code</th>
            <th>Site Code</th>
            <th>Network Name</th>
            <!--<th>Download Data</th>-->
        </tr>
        </thead>
    </table>

    <div class="form-group">
        <label for="res-title" class="control-label">*Resource Title:</label>
        <input type="text" class="form-control" id="res-title" value="Type the name of your resource here">
    </div>
    <div class="form-group">
        <label for="res-abstract" class="control-label">Resource Abstract:</label>
        <textarea rows="6" cols="50" id="res-abstract" class="form-control">Type your abstract here</textarea>
    </div>
    <div class="form-group">
        <label for="res-keywords" class="control-label">Resource Keywords:</label>
        <input type="text" class="form-control" id="res-keywords" value="TimeSeries">
    </div>

    <!--<div class="checkbox">-->
    <!--<label><input name ='ts'type="checkbox" value="checked" checked = 'checked'>Create Time Series</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label><input name = 'ref_ts' type="checkbox" value="">Create Reference Time Series</label>-->
    <!--</div>-->
    <!--End modal content-->
    <p></p>
    <button id ='btn_create_ts_layer'name ='create' value ='refts' type="button" class="btn btn-success"onclick="create_update(this.name,this.value)">Create New Reference Time Series</button>
    <button id ='btn_update_ts_layer' name ='update'value ='refts' type="button" class="btn btn-success"onclick="create_update(this.name,this.value)">Update Current Resource</button>
    <!--<button id ='btn_delete_ts_layer'name ='create' type="button" class="btn btn-danger"onclick="delete_resource(this.name)">Delete Current Resource</button>-->

    <p></p>
    <div id ="div_view_resource"></div>
    <div id ='public_hydro'>
        <label><input id ='chk_public' type='checkbox' >  Make Resource Public</label>
    </div>



</div>
<div id = loading>
    <!--http://cssload.net/-->
    <!--<img src="/static/timeseries_viewer/images/main-loading-anim.gif" />-->
    <div class="cssload-loader">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>
</div>

<!-- Modal content-->




<!-- End modal -->
<div id ="cuahsi_data"  style="display:none">
    <!--<div id ="cuahsi_data"  >-->
    <button type="button" class="btn btn-default" id="btn_submit_cuahsi"onClick ="launchByuHydroshareApp()" >submit</button>

    <div id="source">{{source}}</div>
    <!--<div id="cuahsi_ids">{{cuahsi_ids}}</div>-->
    <div id ="quality">{{quality}}</div>
    <div id="method">{{method}}</div>
    <div id="sourceid">{{sourceid}}</div>
    <div id="serviceurl">{{serviceurl}}</div>
    <div id="login1">{{login1}}</div>

</div>

<!--<button type="button" class="btn btn-default" id="btn_test_post"onClick ="dataToUrl()" >submit</button>-->
{% endblock %}

{% block scripts %}

<link href = 'https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css' rel ='stylesheet'>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
{{ block.super }}
{% endblock %}
{% block app_actions %}

{% endblock %}