<!DOCTYPE html>
<html>
<head>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {

        var login="{{login}}";

//        if (login=="yes") {
//            window.close();
//        }

    })
    </script>
</head>

<body>
<h4>{% if login == "yes" %} You have successfully logged in! {%endif%}</h4>
<script>{% if login == "yes" %} console.log(location) {%endif%}</script>
<p></p>
<div> <h4>Please click the "Create Time Series Resource" or "Create Reference Time Series Resource" button again after closing this window.</h4></div>

<button type="button" onclick="javascript:window.close()">Close</button>

</body>
</html>